:root {
    --background-color: white;
    --caffeine-card-color: #D9E7CB;
    --samurai-card-color: #FFDAD9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color:#303030;
        --caffeine-card-color: #D9E7CB;
        --caffeine-card-color-bg: #4B5644;
        --samurai-card-color: #FFDAD9;
        --samurai-card-color-bg: #5C3F3F;
    }
}

.mdui-appbar {
    background: var(--background-color);
}

.mdui-container {
    font-family: Roboto, 'Noto Sans SC', sans-serif;
}

.mdui-menu {
    border-radius: 12px;
}

.mdui-divider {
    margin: 32px; 
}

.mdui-card {
    border-radius: 16px;
}

.title {
    font-family: 'JetBrains Mono', monospace;
}

.main-content {
    max-width: 480px;
}

.header {
    margin: 16px;
}

.header-title {
    margin-bottom: 8px;
}

.avatar-large {
    max-width: 128px;
}

.avatar-small {
    max-width: 128px;
    margin-bottom: 16px;
}

.akarin-lab-card-img {
    border-radius: 16px;
}

.akarin-lab-card-title-caffeine {
    color: #43483F;
}

.akarin-lab-card-title-samurai {
    color: #31111D;
}

.akarin-lab-card-btn {
    border-radius: 18px;
}

.akarin-lab-card-margin {
    margin-top: 32px;
}

.akarin-lab-card-caffeine {
    color: var(--caffeine-card-color);
    background: var(--caffeine-card-color-bg);
}

.akarin-lab-card-samurai {
    color: var(--samurai-card-color);
    background: var(--samurai-card-color-bg);
}

footer {
    line-height: 1.5;
    margin-top: -16px;
    margin-bottom: 16px;
}